.brand-tone-style{
    min-width: 80vw;
    grid-area: main ;
    /* background-color: #675af2; */
  }

.heading-button{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.heading{
  background-color: aquamarine;
}

.user-tone-entry{
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
}

.user-tone-entry form{
  margin: 0 auto;
  margin-bottom: 5em;
  width: 50%;
}

.tone-field-div {
  margin: 1.5em 0;
  background-color: white;
  padding: 4%;
  border-radius: 0.8rem;
  border: 1px solid #dde3ee;
}

.tone-content-padding{
  padding-bottom: 0.7rem;
}

.tone-field-div ~ button{
  float: right;
}